<div>
  <mat-form-field [floatPlaceholder]="'never'" style="width:100%; font-size:20px;">
    <input matInput [(ngModel)]="term" placeholder="Search for tweets..." >
  </mat-form-field>
</div>
<div style="text-align: right;">
  <button mat-raised-button (click)="onSearchClick()"> Search </button>
</div>
