<div *ngFor="let item of posts">
  <mat-card>
    <mat-card-header>
      <img mat-card-avatar [src]="item.user.profile_image_url">
      <mat-card-title>{{ item.user.name }}</mat-card-title>
      <mat-card-subtitle>
        {{ item.user.description }}&nbsp;
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        {{ item.text }}
      </p>
    </mat-card-content>
  </mat-card>
  <br>
</div>