<div fxLayout="row">
  <div fxFlex></div>

  <div fxFlex="60">
    <app-search-form (search)="onSearchPosts($event)"></app-search-form>
    <br>
    <br>
    <div>
      <div *ngIf="isFetching$ | async">
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        <br>
      </div>
      <app-live-feed *ngIf="postsList$ | async" [posts]="postsList$ | async"></app-live-feed>
    </div>
  </div>

  <div fxFlex></div>
</div>
